/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$sprite-ico-gotomap-name: 'sprite-ico-gotomap';
$sprite-ico-gotomap-x: 56px;
$sprite-ico-gotomap-y: 45px;
$sprite-ico-gotomap-offset-x: -56px;
$sprite-ico-gotomap-offset-y: -45px;
$sprite-ico-gotomap-width: 19px;
$sprite-ico-gotomap-height: 17px;
$sprite-ico-gotomap-total-width: 97px;
$sprite-ico-gotomap-total-height: 87px;
$sprite-ico-gotomap-image: '../img/sprite.png';
$sprite-ico-gotomap: (56px, 45px, -56px, -45px, 19px, 17px, 97px, 87px, '../img/sprite.png', 'sprite-ico-gotomap', );
$sprite-ico-lang-name: 'sprite-ico-lang';
$sprite-ico-lang-x: 56px;
$sprite-ico-lang-y: 62px;
$sprite-ico-lang-offset-x: -56px;
$sprite-ico-lang-offset-y: -62px;
$sprite-ico-lang-width: 15px;
$sprite-ico-lang-height: 14px;
$sprite-ico-lang-total-width: 97px;
$sprite-ico-lang-total-height: 87px;
$sprite-ico-lang-image: '../img/sprite.png';
$sprite-ico-lang: (56px, 62px, -56px, -62px, 15px, 14px, 97px, 87px, '../img/sprite.png', 'sprite-ico-lang', );
$sprite-ico-langarrn-name: 'sprite-ico-langarrn';
$sprite-ico-langarrn-x: 82px;
$sprite-ico-langarrn-y: 17px;
$sprite-ico-langarrn-offset-x: -82px;
$sprite-ico-langarrn-offset-y: -17px;
$sprite-ico-langarrn-width: 5px;
$sprite-ico-langarrn-height: 9px;
$sprite-ico-langarrn-total-width: 97px;
$sprite-ico-langarrn-total-height: 87px;
$sprite-ico-langarrn-image: '../img/sprite.png';
$sprite-ico-langarrn: (82px, 17px, -82px, -17px, 5px, 9px, 97px, 87px, '../img/sprite.png', 'sprite-ico-langarrn', );
$sprite-ico-langarro-name: 'sprite-ico-langarro';
$sprite-ico-langarro-x: 82px;
$sprite-ico-langarro-y: 12px;
$sprite-ico-langarro-offset-x: -82px;
$sprite-ico-langarro-offset-y: -12px;
$sprite-ico-langarro-width: 9px;
$sprite-ico-langarro-height: 5px;
$sprite-ico-langarro-total-width: 97px;
$sprite-ico-langarro-total-height: 87px;
$sprite-ico-langarro-image: '../img/sprite.png';
$sprite-ico-langarro: (82px, 12px, -82px, -12px, 9px, 5px, 97px, 87px, '../img/sprite.png', 'sprite-ico-langarro', );
$sprite-ico-phone-name: 'sprite-ico-phone';
$sprite-ico-phone-x: 41px;
$sprite-ico-phone-y: 67px;
$sprite-ico-phone-offset-x: -41px;
$sprite-ico-phone-offset-y: -67px;
$sprite-ico-phone-width: 14px;
$sprite-ico-phone-height: 14px;
$sprite-ico-phone-total-width: 97px;
$sprite-ico-phone-total-height: 87px;
$sprite-ico-phone-image: '../img/sprite.png';
$sprite-ico-phone: (41px, 67px, -41px, -67px, 14px, 14px, 97px, 87px, '../img/sprite.png', 'sprite-ico-phone', );
$sprite-ico-rated-f-name: 'sprite-ico-rated-f';
$sprite-ico-rated-f-x: 26px;
$sprite-ico-rated-f-y: 67px;
$sprite-ico-rated-f-offset-x: -26px;
$sprite-ico-rated-f-offset-y: -67px;
$sprite-ico-rated-f-width: 15px;
$sprite-ico-rated-f-height: 12px;
$sprite-ico-rated-f-total-width: 97px;
$sprite-ico-rated-f-total-height: 87px;
$sprite-ico-rated-f-image: '../img/sprite.png';
$sprite-ico-rated-f: (26px, 67px, -26px, -67px, 15px, 12px, 97px, 87px, '../img/sprite.png', 'sprite-ico-rated-f', );
$sprite-ico-rated-t-name: 'sprite-ico-rated-t';
$sprite-ico-rated-t-x: 82px;
$sprite-ico-rated-t-y: 0px;
$sprite-ico-rated-t-offset-x: -82px;
$sprite-ico-rated-t-offset-y: 0px;
$sprite-ico-rated-t-width: 15px;
$sprite-ico-rated-t-height: 12px;
$sprite-ico-rated-t-total-width: 97px;
$sprite-ico-rated-t-total-height: 87px;
$sprite-ico-rated-t-image: '../img/sprite.png';
$sprite-ico-rated-t: (82px, 0px, -82px, 0px, 15px, 12px, 97px, 87px, '../img/sprite.png', 'sprite-ico-rated-t', );
$sprite-ico-search-name: 'sprite-ico-search';
$sprite-ico-search-x: 56px;
$sprite-ico-search-y: 0px;
$sprite-ico-search-offset-x: -56px;
$sprite-ico-search-offset-y: 0px;
$sprite-ico-search-width: 26px;
$sprite-ico-search-height: 26px;
$sprite-ico-search-total-width: 97px;
$sprite-ico-search-total-height: 87px;
$sprite-ico-search-image: '../img/sprite.png';
$sprite-ico-search: (56px, 0px, -56px, 0px, 26px, 26px, 97px, 87px, '../img/sprite.png', 'sprite-ico-search', );
$sprite-owl-left-name: 'sprite-owl-left';
$sprite-owl-left-x: 41px;
$sprite-owl-left-y: 0px;
$sprite-owl-left-offset-x: -41px;
$sprite-owl-left-offset-y: 0px;
$sprite-owl-left-width: 15px;
$sprite-owl-left-height: 67px;
$sprite-owl-left-total-width: 97px;
$sprite-owl-left-total-height: 87px;
$sprite-owl-left-image: '../img/sprite.png';
$sprite-owl-left: (41px, 0px, -41px, 0px, 15px, 67px, 97px, 87px, '../img/sprite.png', 'sprite-owl-left', );
$sprite-owl-right-name: 'sprite-owl-right';
$sprite-owl-right-x: 26px;
$sprite-owl-right-y: 0px;
$sprite-owl-right-offset-x: -26px;
$sprite-owl-right-offset-y: 0px;
$sprite-owl-right-width: 15px;
$sprite-owl-right-height: 67px;
$sprite-owl-right-total-width: 97px;
$sprite-owl-right-total-height: 87px;
$sprite-owl-right-image: '../img/sprite.png';
$sprite-owl-right: (26px, 0px, -26px, 0px, 15px, 67px, 97px, 87px, '../img/sprite.png', 'sprite-owl-right', );
$sprite-quote-left-name: 'sprite-quote-left';
$sprite-quote-left-x: 13px;
$sprite-quote-left-y: 0px;
$sprite-quote-left-offset-x: -13px;
$sprite-quote-left-offset-y: 0px;
$sprite-quote-left-width: 13px;
$sprite-quote-left-height: 87px;
$sprite-quote-left-total-width: 97px;
$sprite-quote-left-total-height: 87px;
$sprite-quote-left-image: '../img/sprite.png';
$sprite-quote-left: (13px, 0px, -13px, 0px, 13px, 87px, 97px, 87px, '../img/sprite.png', 'sprite-quote-left', );
$sprite-quote-right-name: 'sprite-quote-right';
$sprite-quote-right-x: 0px;
$sprite-quote-right-y: 0px;
$sprite-quote-right-offset-x: 0px;
$sprite-quote-right-offset-y: 0px;
$sprite-quote-right-width: 13px;
$sprite-quote-right-height: 87px;
$sprite-quote-right-total-width: 97px;
$sprite-quote-right-total-height: 87px;
$sprite-quote-right-image: '../img/sprite.png';
$sprite-quote-right: (0px, 0px, 0px, 0px, 13px, 87px, 97px, 87px, '../img/sprite.png', 'sprite-quote-right', );
$sprite-shopping-bag-name: 'sprite-shopping-bag';
$sprite-shopping-bag-x: 56px;
$sprite-shopping-bag-y: 26px;
$sprite-shopping-bag-offset-x: -56px;
$sprite-shopping-bag-offset-y: -26px;
$sprite-shopping-bag-width: 19px;
$sprite-shopping-bag-height: 19px;
$sprite-shopping-bag-total-width: 97px;
$sprite-shopping-bag-total-height: 87px;
$sprite-shopping-bag-image: '../img/sprite.png';
$sprite-shopping-bag: (56px, 26px, -56px, -26px, 19px, 19px, 97px, 87px, '../img/sprite.png', 'sprite-shopping-bag', );
$spritesheet-width: 97px;
$spritesheet-height: 87px;
$spritesheet-image: '../img/sprite.png';
$spritesheet-sprites: ($sprite-ico-gotomap, $sprite-ico-lang, $sprite-ico-langarrn, $sprite-ico-langarro, $sprite-ico-phone, $sprite-ico-rated-f, $sprite-ico-rated-t, $sprite-ico-search, $sprite-owl-left, $sprite-owl-right, $sprite-quote-left, $sprite-quote-right, $sprite-shopping-bag, );
$spritesheet: (97px, 87px, '../img/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
